body{
    width: 100wh;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock{
    padding: 0;
    width: 350px;
    height: 350px;
    border: 10px solid rgba(52, 58, 56, 0.781);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.time{
    height: 7px;
    width: 160px;
    /* background-color: black; */
    position: absolute;
    top: 50%;
    right: 50%;
    transform-origin: right;
}

.time .sign{
    display: inline-block;
    font-weight: bold;
}



.inner-dial{
    width: 250px;
    height: 250px;
    background-color: rgba(215, 226, 223, 0.733);
    border-radius: 50%;
    position: relative;
}

.hand{
    height: 7px;
    position: absolute;
    top: 50%;
    right: 50%;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    transform-origin: right;
    /* transition: all 0.7s ease; */
}

.hour{
    width: 70px;
    background-color: rgba(53, 51, 51, 0.651);
}

.minute{
    width: 95px;
    background-color:  rgba(53, 51, 51, 0.651);
}

.second{
    width: 115px;
    background-color: rgba(53, 51, 51, 0.651);
}

.pivot{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: rgba(116, 113, 113, 0.781);
    position: absolute;
    top: calc(50% - 5px);
    right: calc(50% - 7px);
}